%hr

%h1
  = @exam.title

%hr
.items-container
  - @items.each do |item|
    .question
      = item.item_number
      )
      = item.question
    = form_for item  do |f|
      %p
        = f.radio_button 'option_1', 1
        = f.label item.option_1
      %p
        = f.radio_button 'option_2', 2
        = f.label item.option_2
      %p
        = f.radio_button 'option_3', 3
        = f.label item.option_3
      %p
        = f.radio_button 'option_4', 4
        = f.label item.option_4
      %p
        = f.radio_button 'option_5', 5
        = f.label item.option_5
    %hr
%hr

%script{:src => "/assets/item.js" }

