- @solved_exams.each do |solved_exam|
  .row.exam-box
    .col-md-8.info
      - exam = Exam.find(solved_exam.exam_id)
      %h2= exam.title
      %h4
        Creado por:
        = User.find(exam.user_id).fullname
      %h4
        Tiempo limite:
        %p
          = exam.time_limit
          minutos
          %i.fa.fa-clock-o
      %h4
        Cantidad de preguntas:
        %p= exam.item_quantity
      %h2= solved_exam.score
      %span.date.sub-text
        Finaliza:
        = exam.expires_on