- @exams.each do |exam|
  .row.exam-box
    .col-md-8.info
      %h2= exam.title
      %h4
        Creado por:
        = User.find(exam.user_id).fullname
      %h4
        Tiempo limite:
        %p
          = exam.time_limit
          minutos
          %i.fa.fa-clock-o
      %h4
        Cantidad de preguntas:
        %p= exam.item_quantity
      - if user_signed_in?
        - if current_user.id != exam.user_id
          - se = SolvedExam.where(['exam_id = ? and user_id = ?', exam.id, current_user.id])
          - if se != nil
            - if not se.first.finished
              = link_to 'Continuar', items_path(exam_id: exam.id)
          - else
            = link_to 'Realizar', items_path(exam_id: exam.id)
      %span.date.sub-text
        Finaliza:
        = exam.expires_on