- @exams.each do |exam|
  .row.exam-box
    .col-md-8.info
      %h2= exam.title
      %h4
        Creado por:
        = User.find(exam.user_id).fullname
      %h4
        Tiempo limite:
        %p
          = exam.time_limit
          minutos
          %i.fa.fa-clock-o
      %h4
        Cantidad de preguntas:
        %p= exam.item_quantity
      %span.date.sub-text
        Finaliza:
        = exam.expires_on