- @exams.each do |exam|
  .row
    .col-md-12.exam-box
      .row
        .col-md-4
          %h2.text-center
            = exam.title
            %h4.text-center
              Creado por:
              = User.find(exam.user_id).fullname
        .col-md-2
          %h4.text-center
            Tiempo limite:
            %h5.text-center
              = exam.time_limit
              minutos
              %i.fa.fa-clock-o
        .col-md-2
          %h4.text-center
            Cantidad de preguntas:
            %h3.text-center
              = exam.item_quantity
        .col-md-2
          %h4.text-center
            Finaliza:
            %h5.text-center
              = exam.expires_on