= devise_error_messages!

.panel.panel-default.edit-profile-panel
  .panel-heading
    %h4
      Editar perfil
  .panel-body
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.label :password
        %i
          (#{t('.leave_blank_if_you_don_t_want_to_change_it', :default => "Si no se desea cambiar, dejar en blanco.")})
        %br/
        = f.password_field :password, :autocomplete => "off", class: "form-control"
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, class: "form-control"
      .form-group
        = f.label :current_password
        %i
          (#{t('.we_need_your_current_password_to_confirm_your_changes', :default => 'Necesitamos tu contraseña actual para confirmar los cambios')})
        = f.password_field :current_password, class: "form-control"
      = f.submit t('.update', :default => "Guardar cambios"), class: "btn btn-primary pull-right"
      = link_to "Atrás", :back, class: "btn btn-primary pull-right margin-right-10"

  = link_to t('.cancel_my_account', :default => "Cancelar mi cuenta"), registration_path(resource_name), :method => :delete, class: "btn btn-default"
%hr